@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sora", sans-serif;
  color: #120b48;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

@layer components {
  .btn-link {
    @apply px-6 py-3 font-light font-bold rounded-lg;
  }
}
